<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcl.work.sport.mapper.UserMapper">
    <insert id="addUser" parameterType="com.tcl.work.sport.model.User">
        INSERT INTO sport_db0.user(
          name,
          password,
          join_time,
          update_time,
          session,
          phone,
          image_url,
          retain,
          im_uid
        )VALUES (
          #{name},
          #{password},
          #{join_time},
          #{update_time},
          #{session},
          #{phone},
          #{image_url},
          #{retain},
          #{im_uid}
        )
    </insert>

    <select id="getAllSessions" resultType="com.tcl.work.sport.model.User">
        SELECT id, session FROM sport_db0.user;
    </select>

    <select id="checkUser" resultType="com.tcl.work.sport.model.User" parameterType="com.tcl.work.sport.model.User">
        SELECT id,
          name,
          session,
          image_url,
          im_uid,
          retain
        FROM
          sport_db0.user
        WHERE
          phone = #{phone}
        AND
          password = #{password}
    </select>

    <select id="checkPhone" resultType="int" parameterType="string">
        SELECT COUNT(*)
        FROM sport_db0.user
        WHERE phone = #{phone}
    </select>

    <select id="getInfo" resultType="com.tcl.work.sport.model.User" parameterType="int">
        select
            id,
            name,
            image_url,
            im_uid,
            retain
        from
            sport_db0.user
        where
            id = #{user_id};
    </select>

    <update id="updateUser" parameterType="com.tcl.work.sport.controller.Filed.FiledUpdateUser">
        update
            sport_db0.user
        set
            image_url = #{image_url},
            name = #{name},
            retain = #{retain}
        where
            id = #{user_id};

    </update>


    <select id="getUserAll" parameterType="int" resultType="com.tcl.work.sport.model.User">
        select
            *
        from
            sport_db0.user
        where
            id = #{user_id};
    </select>


    <select id="getAllUserId" resultType="int">
        select
            id
        from
            sport_db0.user;
    </select>


</mapper> 